header {
  text-align: center;
  /*padding-top: 15rem;*/
  padding-bottom: 30rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)), url("bg.jpg");
  background-size: cover;
  color: black;
}

.head h2 {
  font-size: 100px;
  text-align: left;
}

.container-fluid {
  padding: 0;
  background-color: #222;
  color: white;
}

/* .form-side{
    width: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;

} */

.quotesform {
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-left: 10%;
  padding-right: 12%;
}

.quotesform h3 {
  text-align: center;
}

hr {
  border-color: white;
  width: 40%;
}

.col-md-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 21rem;
}

.content p {
  color: rgba(43, 42, 42, 0.767);
  font-size: 12px;
}

@media (max-width: 551px){
    .head h2 {
    font-size: 150px;
  }
}
